.circle.anim {
  animation: circle 2s ease forwards;
}

@keyframes circle {
  0% {
    background-color: #aef261;
    border-color: #83bf3f;
  }
  100% {
    background-color: transparent;
    border-color: transparent;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle-blink {
  animation: circleBlink 1s forwards steps(1);
}

@keyframes circleBlink {
  20%,
  40%,
  60%,
  80% {
    background-color: black;
    color: #aef261;
  }
  10%,
  20%,
  50%,
  70%,
  100% {
    background-color: #aef261;
    color: black;
  }
}
