* {
  box-sizing: border-box;
}
body {
  display: block;
  font-family: 'Akzidenz-Grotesk Pro';
  background-color: black;
  position: relative;
  overflow-x: hidden;
}

/* 1 секция */
.mascot {
  display: flex;
  width: 100%;
  height: 55vw;
  position: relative;
  padding: 3%;
}
.navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #aef261;
  font-size: 1.64vw;
  font-weight: 400;
  font-style: normal;
}
.scrollText {
  flex-direction: column;
  line-height: 2.2vw;
  cursor: pointer;
}

.suitcase {
  position: absolute;
  width: 60%;
  height: 75%;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  will-change: transform;
  overflow: visible;
}

.logo {
  position: absolute;
  width: 60.4vw;
  top: 21vw;
  left: 19.8vw;
}

/* 2 секция */
.typedText {
  width: 100%;
  display: flex;
  height: 41vw;
  padding: 0 3% 3% 3%;
  position: relative;
}
.twoColums {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #aef261;
  font-size: 1.8vw;
  font-weight: 400;
  font-style: normal;
  line-height: 2.5vw;
}
.firstColumn {
  width: 17%;
}
.secondColumn {
  width: 16%;
}

.secondColumn p {
  text-align: right;
}
/* span */
.indiaGap {
  margin-right: 25%;
}
.egyptGap {
  margin-right: 17%;
}
.chinaGap {
  margin-left: 25%;
}
.maskotGap {
  margin-right: 25%;
}
.WorldGap {
  margin-right: 22%;
}
/* 2 текст span */
.lineGap {
  margin-left: 22%;
}
.vaseGap {
  margin-right: 27%;
}
.world2Gap {
  margin-right: 23%;
}
.sunGap {
  margin-left: 22%;
}
/* стикеры */

.stickers img {
  opacity: 0;
  transition: opacity 0.4s ease;
}
.typedTextIndia {
  top: 7.5vw;
  left: 8.8vw;
  position: absolute;
  width: 3vw;
  display: block;
}
.typedTextEgypt {
  top: 10vw;
  left: 8.6vw;
  position: absolute;
  width: 2.7vw;
  display: block;
}
.typedTextChina {
  top: 12.5vw;
  left: 3vw;
  position: absolute;
  width: 3.4vw;
  opacity: 0;
  animation: fadeIn ease 1s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  display: block;
}
.typedTextMaskot {
  top: 17vw;
  left: 12vw;
  position: absolute;
  width: 4.7vw;
  display: block;
}
.typedTextWorld {
  top: 29.6vw;
  left: 10.2vw;
  position: absolute;
  width: 3.2vw;
  display: block;
}
/* стикеры 2 текста */
.typedTextLine {
  top: 13.5vw;
  left: 84vw;
  position: absolute;
  width: 5vw;
  display: block;
}
.typedTextVase {
  top: 17.5vw;
  left: 93.5vw;
  position: absolute;
  width: 4vw;
  display: block;
}
.typedTextWorld2 {
  top: 24.6vw;
  left: 93.3vw;
  position: absolute;
  width: 3.2vw;
  display: block;
}
.typedTextSun {
  top: 5vw;
  left: 86vw;
  position: absolute;
  width: 3vw;
  display: block;
}
/* 3 секция */
.India {
  width: 100%;
  height: 57vw;
  position: relative;
  background-color: #eb8ffc;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.India.cover {
  background-image: url(../images/indiaMap.svg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.circles {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  background-color: #aef261;
  border-radius: 50%;
  width: 4.25vw;
  height: 4.25vw;
  border: 0.15vw solid #83bf3f;
  position: absolute;
  transition: all ease 2s;
}
.buttonCircles {
  background-color: black;
  width: 16%;
  height: 6%;
  position: relative;
  z-index: 2;
  border-radius: 2vw;
  color: white;
  font-size: 1.7vw;
  line-height: 3.3vw;
  text-align: center;
}
.attractions {
  position: absolute;
  width: 100%;
  height: 100%;
}
.attractions > div,
.attractions > img {
  position: absolute;
}
.city,
.buttonCircles {
  cursor: pointer;
  user-select: none;
}
.city {
  background-color: black;
  color: white;
  border-radius: 2vw;
  line-height: 3.3vw;
  text-align: center;
  font-size: 1.7vw;
  display: none;
}
.varanasi {
  top: 33%;
  left: 56%;
  width: 10%;
  height: 6%;
}
.howrahBridge {
  top: 45%;
  left: 59%;
  width: 12%;
  height: 6%;
}
.nandi {
  top: 75%;
  left: 51%;
  width: 8%;
  height: 6%;
}
.minkshiTemple {
  top: 82%;
  left: 35%;
  width: 14%;
  height: 6%;
}
.hawaMahal {
  top: 42%;
  left: 25%;
  width: 12%;
  height: 6%;
}
.tajMahal {
  top: 24%;
  left: 37%;
  width: 12%;
  height: 6%;
}
.varanasiImg {
  width: 10%;
  position: absolute;
  top: 7%;
  left: 68%;
}
.howrahBridgeImg {
  width: 10%;
  position: absolute;
  top: 43.7%;
  left: 77.5%;
}
.minkshiTempleImg {
  width: 10%;
  position: absolute;
  top: 70%;
  left: 22%;
}
.hawaMahalImg {
  width: 10%;
  position: absolute;
  top: 34.5%;
  left: 11.5%;
}
.tajMahalImg {
  width: 10%;
  position: absolute;
  top: 6.7%;
  left: 23.6%;
}
.nandiImg {
  width: 10%;
  position: absolute;
  top: 73%;
  left: 61%;
}

/* 4 секция */

.Egypt {
  width: 100%;
  height: 62vw;
  position: relative;
  background-color: #ff801f;
  display: flex;
  padding: 0 3% 4% 3%;
}
.egyptText {
  color: #aef261;
  font-size: 3vw;
  line-height: 3.6vw;
  text-align: center;
  align-self: flex-end;
  text-align: left;
}
.video-container {
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  padding-top: 54%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 1.8%;
  width: 100%;
  height: 100%;
}

/* 5 секция */

.China {
  display: flex;
  position: relative;
  width: 100%;
  height: 61vw;
  background-color: black;
  background-image: url(../images/chinaMap.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3%;
  overflow: hidden;
}

.chinaText {
  width: 100%;
  display: flex;
  color: #aef261;
  font-size: 1.64vw;
  font-weight: 400;
  flex-direction: column;
}
.topText,
.bottomText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottomText {
  margin-top: auto;
}

.numbers {
  width: 48vw;
  height: 38vw;
  position: absolute;
  top: 50%;
  left: 50%;
  touch-action: none;
  transform: translate(-50%, -50%);
}

.number-circle {
  border-radius: 100%;
  padding: 1.3vw;
  color: #aef261;
  width: 3.8vw;
  height: 3.8vw;
  position: absolute;
  transition: all 5s linear;
  z-index: 2;
  font-size: 2.3vw;
  font-weight: 400;
  letter-spacing: -0.028vw;
  background-color: black;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  position: absolute;
  height: clamp(1px, 0.25vw, 0.25vw);
  background-color: black;
  transform-origin: left center;
  pointer-events: none;
  z-index: 1;
  transition: none;
}

/* 6 секция */
.endOfTheJourney {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2vw;
  height: auto;
}

.text-block {
  position: absolute;
  right: 5vw;
  top: 45%;
  transform: translateY(-50%);
  max-width: 70vw;
  color: #000;
  white-space: nowrap;
}

.desc {
  font-size: 2vw;
  opacity: 0.7;
}

.footer {
  position: absolute;
  bottom: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.5vw;
  opacity: 0;
  z-index: 3;
}

.footer .button {
  padding: 1.3vw 3vw;
  font-size: 1.8vw;
  background-color: #000;
  color: #fff;
  border-radius: 3vw;
}

.none {
  display: none;
}
